.diary-header {
  position: relative;
  text-align: center;
  padding: 2.5rem 1rem;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-size: 50px;
  margin-bottom: 1rem;
}

.form-img {
  position: absolute;
  top: 5rem;
  margin-top: 0.5rem;
  right: 32rem;
  width: 80px;
}   

@keyframes float {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}   

.form-img {
  animation: float 3s ease-in-out infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.diary-header h1 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards;
}

